.list
{
    position: relative;
    display: inline-block;
}
.button 
{
    background-color: darkred;
    color: white;
    min-width: 15%;
    min-height: 5%;
    font-size: 1.5vmin;
    /* border-radius: 5px; */
}
  
.list:hover .button
{
   background-color: #800000;
}

.elements
{
    background-color: Gainsboro ;
    display: none;
    position: absolute;
    width: 100%;
}

.elements a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.list:hover .elements
{
    display: block;
}

.elements a:hover {background-color:  #bfbfbf;}

img
{
    width: 200px;
    background-color: white;
}